.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 2px solid #699ad6;
    border-radius: 10px;
    //background-color: #7aa9ee;
}

.human-body {
    width: 207px;
    position: relative;
    padding-top: 150px;
    height: 260px;
    display: block;
    margin: 100px auto;
}

.human-body svg:hover {
    cursor: pointer;
}

.human-body svg:hover path {
    fill: #009e10;
}

.human-body svg {
    position: absolute;
    left: 50%;
    fill: rgb(47, 81, 136);
}

.human-body svg#head {
    margin-left: -28.5px;
    top: -6px;
}

.human-body svg#left-shoulder {
    margin-left: -53.5px;
    top: 69px;
}

.human-body svg#right-shoulder {
    margin-left: 13.5px;
    top: 69px;
}

.human-body svg#left-arm {
    margin-left: -78px;
    top: 112px;
}

.human-body svg#right-arm {
    margin-left: 38px;
    top: 112px;
    z-index: 10001;
}

.human-body svg#chest {
    margin-left: -43.5px;
    top: 88px;
}

.human-body svg#stomach {
    margin-left: -37.5px;
    top: 130px;
}

.human-body svg#left-leg {
    margin-left: -46.5px;
    top: 205px;
    z-index: 9999;
}

.human-body svg#right-leg {
    margin-left: 1.5px;
    top: 205px;
    z-index: 9999;
}

.human-body svg#left-hand {
    margin-left: -102.5px;
    top: 224px;
}

.human-body svg#right-hand {
    margin-left: 66.5px;
    top: 224px;
    z-index: 10000;
}

.human-body svg#left-foot {
    margin-left: -35.5px;
    top: 455px;
}

.human-body svg#right-foot {
    margin-left: 5.5px;
    top: 455px;
}

#organ {
    display: block;
    width: 100%;
    clear: both;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    font-family: Courier New;
    color: #351212;
}

#organ #data {
    color: black;
}


/* Text section styling */

.text-section {
    font-family: Arial, sans-serif;
    color: #011f3b;
    font-size: 3rem;
    line-height: 1.8;
}

.text-section h2 {
    font-family: "Century Gothic", Verdana, sans-serif;
    color: #062440;
    font-size: 1.2em;
    font-weight: normal;
    margin: 0;
    font-style: italic;
}

.text-section h2:last-child {
    color: #6f9700;
    /* Green color for "AskUrDoc" */
    font-weight: bold;
}